body{
  text-align: center;
  background-color: black;
}

li{
  color: white;
}

#growl-name{
  padding-bottom: 50px;
  padding-left: 50px;
}

ul{
  text-align: left;
}

#boxer{
  border-radius: 50%;
  border-color: black;
  border-width: thick;
}

#title{
  padding: 10px 10px;
  background-color: blue;
}

h1{
  /*background-color: blue;*/
  border-radius: 25px;
  font-family: Helvetica;
  color: white;
}

#button{
  padding-top: 20px;
}


#btn-login{
  border-radius: 10px;
}
