body{
  text-align: center;
  background-color: black;
}

#title{
  padding: 10px 10px;
  background-color: blue;
}

h1{
  /*background-color: blue;*/
  border-radius: 25px;
  font-family: Helvetica;
}

#button{
  padding-top: 20px;
}


#btn-login{
  border-radius: 10px;
}
